
<!-- ===========================first page============================== -->



  <div id="first" class="section">
   <!-- <h1> @ Kamikakeru</h1> -->
   <div id="try">
   <h1>@ Kamikakeru</h1>
   <p id="massage"><a>Kamikakeru gives your life pleasure by the power of photo.</a></p>
   </div>
    <div>
      <nav class="clearfix">
        <ul>
          <li><a href="/new">Home</a></li>
          <li><a href="#">Personality</a></li>
          <li><a href="#">Gallary</a></li>
             <!-- <li><a href="#">Something just like</a></li>
             <li><a href="#">Waiting for</a></li> -->
        </ul>
      </nav>
     </div>
  </div>

<!-- ===========================first page============================== -->

<!-- ===========================secind page============================== -->




<!-- <div class="skinBody">
  <div class="slides">
    <div id="display"><%= image_tag '01sm.jpg' %></div>
    <div id="display"><%= image_tag '02sm.jpg' %></div>
    <div id="display"><%= image_tag '03sm.jpg' %></div>
    <div id="display"><%= image_tag '04sm.jpg' %></div>
    <div id="display"><%= image_tag '05sm.jpg' %></div>
    <div id="display"><%= image_tag '06sm.jpg' %></div>
    <div id="display"><%= image_tag '07sm.jpg' %></div>
    <div id="display"><%= image_tag '08sm.jpg' %></div>
    <div id="display"><%= image_tag '09sm.jpg' %></div>
    <div id="display"><%= image_tag '10sm.jpg' %></div>
  </div>
  <div class="slides-nav">
    <div><%= image_tag '01sm.jpg' %></div>
    <div><%= image_tag '02sm.jpg' %></div>
    <div><%= image_tag '03sm.jpg' %></div>
    <div><%= image_tag '04sm.jpg' %></div>
    <div><%= image_tag '05sm.jpg' %></div>
    <div><%= image_tag '06sm.jpg' %></div>
    <div><%= image_tag '07sm.jpg' %></div>
    <div><%= image_tag '08sm.jpg' %></div>
    <div><%= image_tag '09sm.jpg' %></div>
    <div><%= image_tag '10sm.jpg' %></div>
  </div>
</div>
 -->
<!-- ===========================3 page============================== -->

  <div class="section">
    <section id="s03" class="clearfix">
    <div class="center">
       <div class="leftbox">
         <div id="left1" class="inviewfadeIn"><%= image_tag 'left01.jpg' %></div>
         <div id="leftbox2" class="clearfix">
           <div id="left2" class="inviewfadeIn"><%= image_tag 'left02.jpg' %></div>
           <div id="left3" class="inviewfadeIn"><%= image_tag 'left03.jpg' %></div>
         </div>
         <div id="left4" class="inviewfadeIn"><%= image_tag 'left04.jpg' %></div>
         <div id="left5" class="inviewfadeIn"><%= image_tag 'left05.jpg' %></div>
       </div>
       <div class="rightbox">
           <div id="right1" class="inviewfadeIn"><%= image_tag 'right01.jpg' %></div>
           <div id="rightbox2" class="clearfix">
             <div id="right2" class="inviewfadeIn"><%= image_tag 'right02.jpg' %></div>
             <div id="right3" class="inviewfadeIn"><%= image_tag 'right03.jpg' %></div>
           </div>
           <div id="right4" class="inviewfadeIn"><%= image_tag 'right04.jpg' %></div>
           <div id="right5" class="inviewfadeIn"><%= image_tag 'right05.jpg' %></div>
         </div>
    </div>
    </section>
  </div>
</div>
<!-- ===========================3 page============================== -->


<div class=map>
 <body onload="initialize();">
 <div id="map_canvas" style="width:100%;height:800px;"></div>
</div>


<!-- ===========================4 page============================== -->





<!-- ===========================4 page============================== -->

  <div class="section">
    <section id="s03" class="clearfix">
    <div class="center">
       <div class="leftbox">
         <div id="left1" class="inviewfadeIn"><%= image_tag 'left01.jpg' %></div>
         <div id="leftbox2" class="clearfix">
           <div id="left2" class="inviewfadeIn"><%= image_tag 'left02.jpg' %></div>
           <div id="left3" class="inviewfadeIn"><%= image_tag 'left03.jpg' %></div>
         </div>
         <div id="left4" class="inviewfadeIn"><%= image_tag 'left04.jpg' %></div>
         <div id="left5" class="inviewfadeIn"><%= image_tag 'left05.jpg' %></div>
       </div>
       <div class="rightbox">
           <div id="right1" class="inviewfadeIn"><%= image_tag 'right01.jpg' %></div>
           <div id="rightbox2" class="clearfix">
             <div id="right2" class="inviewfadeIn"><%= image_tag 'right02.jpg' %></div>
             <div id="right3" class="inviewfadeIn"><%= image_tag 'right03.jpg' %></div>
           </div>
           <div id="right4" class="inviewfadeIn"><%= image_tag 'right04.jpg' %></div>
           <div id="right5" class="inviewfadeIn"><%= image_tag 'right05.jpg' %></div>
         </div>
    </div>
    </section>
  </div>
</div>









